
.App {
  padding-top: 4rem;
  min-height: 100vh;
  background-color: #0099E6;
}

.navbar {
  background-color: #004080 !important;
}

.logoImage {
    width: 100%;
}

.format{
  width: 200px;
  height: 150px;
  padding-bottom: 55vh;
}

.format2{
  width: 100px;
  height: 250px;
}

.format3{
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

.format4{
  margin-top: 10vh;
}

.header{
  float: left;
}

.padding1{
  padding-top: 30px;
}
/*
.avatar-background {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    var(--type-color) 100%
  );
}

.normal { --type-color: #c4c4a4; }
.fighting { --type-color: #c03028; }
.flying { --type-color: #a890f0; }
.poison { --type-color: #a040a0; }
.ground { --type-color: #e0c068; }
.rock { --type-color: #b8a038; }
.bug { --type-color: #a8b820; }
.ghost { --type-color: #705898; }
.steel { --type-color: #b8b8d0; }
.fire { --type-color: #f08030; }
.water { --type-color: #6890f0; }
.grass { --type-color: #78c850; }
.electric { --type-color: #f8d030; }
.psychic { --type-color: #f85888; }
.ice { --type-color: #98d8d8; }
.dragon { --type-color: #7038f8; }
.dark { --type-color: #705848; }
.fairy { --type-color: #ee99ac; }
*/ 